@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Alfa+Slab+One&family=Jim+Nightshade&family=Kavoon&family=Merienda:wght@300..900&family=Patrick+Hand&family=Shadows+Into+Light&display=swap');
@import "tailwindcss";
